<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>住所録：編集</h1>
		<form th:action="@{/{No}/E_Confirmation(No=*{No})}" th:object="${list_Entity}" th:method="post">
			<div>
				<label>名前：</label> <input type="text" name="name" th:value="*{name}" />
			</div>
			<div>
				<label>住所：</label> <input type="text" name="address" th:value="*{address}" />
			</div>
			<div>
				<label>電話番号：</label> <input type="text" name="number" th:value="*{number}" />
			</div>
			<input type="submit" value="確認">
		</form>

	</div>
	<div>
		<input type="button" onclick="location.href='ADDback'" value="もどる">
	</div>
</body>
</html>

